* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  font-family: "Gelion", sans-serif;
  font-size: 18px;
  color: #4b4f51;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 50px;
}

.section-first-title {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;
  color: #fa5652;
}

.section-second-title {
  margin-bottom: 30px;
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.19;
  color: #035755;
  text-transform: capitalize;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-third-title {
  margin-bottom: 70px;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 2.15;
  text-transform: capitalize;
}

.box {
  text-align: center;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-none {
  display: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.31;
  color: #035755;
  text-transform: uppercase;
  text-decoration: none;
}

.logo__icon {
  margin-right: 14px;
}

.button {
  width: 250px;
  height: 80px;
  color: #ffffff;
  background-color: #fb4c47;
  border: 2px solid #fb4c47;
  border-radius: 46px;
  outline: transparent;
}

.button:hover, .button:focus {
  background-color: #c03632;
}

.button:active {
  background-color: #df5752;
}

.header {
  height: 65px;
  outline: 1px solid tomato;
}

.header .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 40px;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.22;
  color: #035755;
}

.header-nav__link::after {
  position: relative;
  bottom: -9px;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fb4c47;
  opacity: 0;
}

.header-nav__link:hover, .header-nav__link:focus, .header-nav__link:hover::after, .header-nav__link:focus::after {
  color: #fb4c47;
  opacity: 1;
}

.header-nav__button {
  width: 154px;
  height: 55px;
  color: #fb4c47;
  background-color: transparent;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .box {
  width: 641px;
  text-align: left;
}

.hero__title {
  margin-bottom: 96px;
  width: 394px;
  text-align: left;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  color: #fa5652;
}

.hero__span {
  display: block;
}

.hero__text {
  display: block;
  margin-bottom: 54px;
  width: 720px;
  text-align: left;
  font-size: 24px;
  line-height: 1.9;
  text-transform: capitalize;
}

.hero-icon {
  position: relative;
  left: 120px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  pointer-events: none;
}

.hero__button {
  width: 250px;
  height: 80px;
}

.overview .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.overview__block {
  width: 648px;
  text-align: left;
}

.overview__title {
  text-align: left;
}

.overview .box::before {
  display: block;
  content: "";
  width: 880px;
  height: 693px;
  background-image: url(../../images/overview-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overview__text {
  font-size: 16px;
  line-height: 2.15;
  color: #4b4f51;
  text-transform: capitalize;
}

.overview__button {
  color: #fa5652;
  background-color: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
  border: transparent;
}

.contagion-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contagion-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 65px 35px 78px;
  width: calc((100% - 2 * 31px) / 3);
  -webkit-box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}

.contagion-list__item::before {
  margin-bottom: 55px;
  display: block;
  content: "";
  width: 270px;
  height: 249px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contagion-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contagion-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.contagion-list__item:nth-child(1)::before {
  background-image: url(../../images/contagion-1.svg);
}

.contagion-list__item:nth-child(2)::before {
  background-image: url(../../images/contagion-2.svg);
}

.contagion-list__item:nth-child(3)::before {
  background-image: url(../../images/contagion-3.svg);
}

.contagion-list__title {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.47;
  color: #035755;
  text-transform: capitalize;
}

.contagion-list__text {
  line-height: 1.85;
  text-transform: capitalize;
}

.symptoms .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

.symptoms .box::after {
  text-align: center;
  display: block;
  content: "";
  width: 1168px;
  height: 872px;
  background-image: url(../../images/symptoms.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.prevention .box {
  padding-top: 50px;
}

.prevention-list {
  counter-reset: number;
}

.prevention-list__item {
  outline: 1px solid tomato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.prevention-list__item:nth-child(2n-1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.prevention-list__svg {
  display: block;
  content: "";
  width: 538px;
  height: 444px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.prevention-list__text-content {
  width: 532px;
  text-align: left;
}

.prevention-list__item-title {
  position: relative;
  font-weight: 500;
  font-size: 47px;
  line-height: 1.47;
  color: #035755;
  text-transform: capitalize;
}

.prevention-list__item-title::before {
  counter-increment: number;
  content: "0" counter(number);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  left: -19%;
  top: -4px;
  font-family: Red Hat Display;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.45;
  color: #fa5652;
  border-radius: 50%;
  background-color: rgba(250, 86, 82, 0.15);
  width: 75px;
  height: 75px;
}

.prevention-list__item-text {
  font-size: 18px;
  line-height: 2.21;
  text-transform: capitalize;
}

.prevention-list__item:nth-child(1) .prevention-list__svg {
  background-image: url(../../images/prevent-1.svg);
}

.prevention-list__item:nth-child(2) .prevention-list__svg {
  background-image: url(../../images/prevent-2.svg);
}

.prevention-list__item:nth-child(3) .prevention-list__svg {
  background-image: url(../../images/prevent-3.svg);
}

.prevention-list__item:nth-child(4) .prevention-list__svg {
  background-image: url(../../images/prevent-4.svg);
}

.map.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.map__picture {
  -webkit-transform: translate(15%) scale(1.2);
          transform: translate(15%) scale(1.2);
  z-index: 0;
}

.map__reports {
  z-index: 1;
  padding: 50px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-79.45%, #fffbfb), color-stop(105.35%, #fdfdfd));
  background: linear-gradient(360deg, #fffbfb -79.45%, #fdfdfd 105.35%);
  -webkit-box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
  border-radius: 0px;
}

.map-list {
  border-collapse: collapse;
  border-spacing: 0;
}

.map-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 55px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  color: #035755;
}

.map-title::after {
  display: block;
  content: "";
  width: 80px;
  height: 49px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
          box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
  border-radius: 6.16667px;
}

.map-list__item {
  border-bottom: 40px solid transparent;
  font-weight: 500;
  font-size: 31px;
  line-height: 1.19;
  color: #13615f;
}

.map__flag {
  margin-right: 25px;
}

.map__name {
  margin-right: 125px;
}

.map__number {
  margin-right: 20px;
}

.feedback {
  margin-bottom: 140px;
  padding-bottom: 0px;
}

.feedback .box {
  width: 790px;
}

.feedback-title {
  margin-bottom: 62px;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  color: #0c6c44;
}

.feedback__form {
  position: relative;
}

.feedback__input {
  width: 100%;
  height: 114px;
  padding-left: 41px;
  font-size: 22px;
  line-height: 1.18;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
  border: transparent;
  border-radius: 57px;
}

.feedback__button {
  position: absolute;
  top: 18px;
  right: 17px;
}

.footer {
  padding: 15px 0px;
}

.footer__box {
  width: 100%;
  margin-bottom: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-nav__item:not(:last-child) {
  margin-right: 50px;
}

.footer-nav__link {
  font-size: 23px;
  line-height: 1.2;
  color: #00402e;
}

.footer-nav__link:hover, .footer-nav__link:focus {
  color: #fb4c47;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-list__item:not(:last-child) {
  margin-right: 40px;
}

.copyright {
  display: block;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */