// $header-stroke: #ececec;

$map-text-color: #13615f;

$back-color: #f9bdbd;

$accent-color: #fb4c47;

$button-color: #fb4c47;
$btn-hover-color: #c03632;
$btn-active-color: #df5752;

$line-height-small: 2.15;

$transition-time: 150ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

$wedo-back-color: rgba(47, 48, 58, 0.8);

$folio-border: #eeeeee;

$footer-color: #2f303a;
$footer-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$footer-links-color: rgba(255, 255, 255, 0.6);

$section-mobile-padding: 60px;
$section-desktop-padding: 94px;

$mr: 30px;
$mb: 30px;

$mb-text-label: 4px;

// $icon-color: #afb1b8;

$title-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// Цвета Шрифтов
$site-nav-c: #035755;
$section-content-c: #4b4f51;

// Шрифты!
$global-ffam: "Gelion", sans-serif;
$title-ffam: "Red Hat Display", sans-serif;

$global-f: 18px;

$logo-w: 700;
$logo-f: 19px;
$logo-lh: 1.31;

$header-link-f: 18px;
$header-link-lh: 1.22;

$title-w: 700;

$hero-title-f: 32px;
$hero-title-lh: 1.22;
$hero-content-f: 24px;
$hero-content-lh: 1.9;
// content and button

$section-first-title-f: 29px;
$section-first-title-lh: 1.24;
$section-first-title-c: #fa5652;

$section-second-title-f: 50px;
$section-second-title-lh: 1.19;
$section-second-title-c: #035755;

$section-third-title-f: 18px;
$section-third-title-lh: 2.15;
$section-third-title-c: #4b4f51;

// $overview-content-f: 20px;
$overview-content-f: 16px;
$overview-content-lh: 2.15;

$contagion-item-w: 500;
$contagion-item-title-f: 36px;
$contagion-item-title-lh: 1.47;
$contagion-item-content-f: 18px;
$contagion-item-content-lh: 1.85;

$prevention-title-w: 500;

$prevention-item-title-f: 47px;
$prevention-item-title-lh: 1.47;
$prevention-item-content-f: 18px;
$prevention-item-content-lh: 2.21;

$map-title-w: 500;
$map-title-s: 48px;
$map-title-lh: 1.2;
$map-item-s: 31px;
$map-item-lh: 1.19;

$feedback-title-w: 500;
$feedback-title-s: 64px;
$feedback-title-lh: 1.2;
$feedback-title-c: #0c6c44;
$placeholder-s: 22px;
$placeholder-lh: 1.18;

$footer-link-s: 23px;
$footer-link-lh: 1.2;
$footer-nav-color: #00402e;
