.symptoms .box::after {
	display: block;
	content: "";
	width: 1168px;
	height: 872px;
	// background-color: red;
	background-image: url(../../images/symptoms.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
